<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IMUserMapper" >
  <resultMap id="BaseResultMap" type="com.avalon.model.im.IMUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, sign, avatar, status
  </sql>
  
  <sql id="SQL_WHERE">
      1=1
      <if test="id != null and id !='' " >
        and id=#{id}
      </if>
      <if test="username != null and username !='' " >
        and username=#{username}
      </if>
      <if test="sign != null and sign !=''" >
        and sign=#{sign}
      </if>
      <if test="avatar != null and avatar !='' " >
        and avatar=#{avatar}
      </if>
      <if test="status != null and status !='' " >
        and status=#{status}
      </if>
   </sql>
   <sql id="SQL_PAGING">
      <if test="sort != null  and sort != ''" >
      order by  #{sort}
      </if>
      <if test="order != null  and order != ''" >
       #{order}
      </if>
	  LIMIT #{limit},#{offset}
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from avalon_im_user
     <where>
	    <include refid="SQL_WHERE"/>
    </where>
  </select>
  
  <select id="selectGroupUser" resultMap="BaseResultMap" parameterType="com.avalon.model.im.IMUser" >
    SELECT
	<include refid="Base_Column_List" />
	FROM
		avalon_im_user a
	WHERE
		a.id IN (
			SELECT
				t.fid
			FROM
				avalon_im_user_friend t
			WHERE
				t.uid = #{map.uid}
			AND t.groupid = #{map.gid}
		)
  </select>
  
  <select id="selectGroupsUser" resultMap="BaseResultMap" parameterType="com.avalon.model.im.IMUser" >
    SELECT
	<include refid="Base_Column_List" />
	FROM
		avalon_im_user a
	WHERE
		a.id IN (
			SELECT
			t.uid
		FROM
			avalon_im_groups_user t
		WHERE
			t.gid = #{map.gid}
		)
  </select>
  
  <delete id="delete" parameterType="com.avalon.model.im.IMUser" >
    delete from avalon_im_user where id in (${id})
  </delete>
  
  <select id="DataPagination" parameterType="com.avalon.model.im.IMUser" resultMap="BaseResultMap">
    select t.* from avalon_im_user t
	   <where>
	    <include refid="SQL_WHERE"/>
	   </where>
	   <include refid="SQL_PAGING"/>
  </select>
  
  <select id="DataPaginationCount" parameterType="com.avalon.model.im.IMUser" resultType="java.lang.Integer">
     select count(1) from avalon_im_user t
     <where>
	    <include refid="SQL_WHERE"/>
	 </where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from avalon_im_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from avalon_im_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.avalon.model.im.IMUser" >
    insert into avalon_im_user (id, username, sign, 
      avatar, status)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.avalon.model.im.IMUser" >
    insert into avalon_im_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.avalon.model.im.IMUser" >
    update avalon_im_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.avalon.model.im.IMUser" >
    update avalon_im_user
    set username = #{username,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>